name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          host: linux
          platform: android
        - os: macos-latest
          host: darwin
          platform: android
        - os: windows-latest
          host: win32
          platform: android
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.host }}-${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions/cache@v4
      with:
        path: vendor/bare/corestore
        key: corestore-${{ matrix.platform }}
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - run: npm install -g bare-dev cmake-runtime
    - run: bare-dev android sdk licenses accept
    - run: bare-dev build
